#kanvas {

	position:relative;

	width:675px;



	margin:0px auto;

	text-align:left;

}





.ahead{

	font: 17px Georgia, Arial; color:#006600; margin-bottom:5px;

}



.halaman{

	font: 11px Georgia, Arial; color:#006600; margin-bottom:5px;

}



.halaman a{

		font-family:Tahoma;

		font-size:11px;

		text-decoration:none;

		color:#003399;

}

.halaman a:hover{

		font-family:Tahoma;

		font-size:11px;

		text-decoration:none;

		color:#FF0000;

	}



#aplikasi  {

	background:#d5e5c1;

	float:left;

	margin-bottom:10px;

	width:673px;

	line-height:1.5;

	display:block;

	padding: 8px;

	border: 1px #1b7309 solid;

	border-top: 5px #1b7309 solid;

	}

#aplikasi a{

		font-family:"Times New Roman", Times, serif;

		font-size:14px;

		text-decoration:none;

		color:#003399;

}

#aplikasi a:hover{

		font-family:"Times New Roman", Times, serif;

		font-size:14px;

		text-decoration:none;

		color:#FF0000;

	}



#aplikasi ul{

	margin:0;

	padding:0em 0.5em;

	text-decoration:none;

	}



#aplikasi li {

	padding-left:1px;

	margin-top:5px;

	margin-bottom:1px;

	margin-left:10px;

	text-decoration:none;

	color:#333;

	list-style-type:square;

	font: 14px "Times New Roman", Times, serif ;

	}



#aplikasi .ahead{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:18px;

	color:#006600;

}



#aplikasi .tgl{

	font-family:"Times New Roman", Times, serif;

	font-size:12px;

	color:#FF6600;

}



#aplikasi .ahead_home a{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:16px;

	color:#006600;

}



#aplikasi .ahead_home a:hover{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:16px;

	color:#000000;

}



#aplikasi .tgl_home{

	font-family:"Times New Roman", Times, serif;

	font-size:12px;

	color:#FF6600;

}



#aplikasi .isi {

	font: 14px "Times New Roman", Times, serif ;

	color:#333333;

}



#aplikasi .isi td, p, div{

	font: 14px "Times New Roman", Times, serif ;

	color:#333333;

}



#aplikasi .isi h1, u{

	font: 17px "Times New Roman", Times, serif ;

	color:#333333;

}



#aplikasi .isi strong, b{

	font: 14px "Times New Roman", Times, serif ;

	font-weight:bold;

	color:#333333;

}







#aplikasicetak  {

/*	background:#E3E1E1;  */

	float:center;

	margin-bottom:10px;

	width:30%;

	line-height:1.5;

	display:block;

	padding: 8px;

	border: 1px #000000 solid;

	border-top: 5px #000000 solid;

	}

#aplikasicetak a{

		font-family:"Times New Roman", Times, serif;

		font-size:14px;

		text-decoration:none;

		color:#003399;

}

#aplikasicetak a:hover{

		font-family:"Times New Roman", Times, serif;

		font-size:14px;

		text-decoration:none;

		color:#FF0000;

	}



#aplikasicetak ul{

	margin:0;

	padding:0em 0.5em;

	text-decoration:none;

	}



#aplikasicetak li {

	padding-left:1px;

	margin-top:5px;

	margin-bottom:1px;

	margin-left:10px;

	text-decoration:none;

	color:#333;

	list-style-type:square;

	font: 14px "Times New Roman", Times, serif ;

	}



#aplikasicetak .ahead{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:18px;

	color:#000000;

}



#aplikasicetak .tgl{

	font-family:"Times New Roman", Times, serif;

	font-size:12px;

	color:#FF6600;

}



#aplikasicetak .ahead_home a{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:16px;

	color:#006600;

}



#aplikasicetak .ahead_home a:hover{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:16px;

	color:#000000;

}



#aplikasicetak .tgl_home{

	font-family:"Times New Roman", Times, serif;

	font-size:12px;

	color:#FF6600;

}



#aplikasicetak .isi {

	font: 14px "Times New Roman", Times, serif ;

	color:#333333;

}



#aplikasicetak .isi td, p, div{

	font: 14px "Times New Roman", Times, serif ;

	color:#333333;

}



#aplikasicetak .isi h1, u{

	font: 17px "Times New Roman", Times, serif ;

	color:#333333;

}



#aplikasicetak .isi strong, b{

	font: 14px "Times New Roman", Times, serif ;

	font-weight:bold;

	color:#333333;

}
